.Toastify__toast {
  color: #191a23;
  border: solid 1px #191a23;
  border-radius: 10px;
  box-shadow: 0px 2px 0px #191a23;
}

.Toastify__toast--error {
  background-color: #dc3545;
}
.Toastify__toast--error .Toastify__toast-icon {
  display: none;
}
