* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #dfdfdf;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #f3f3f3;
  border-radius: 1.5rem;
  border: 1px solid #191a23;
  padding-inline: 6rem;
  padding-block: 4rem;
  max-width: 860px;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  background-color: #b9ff66;
  display: inline;
  padding-inline: 7px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

p {
  color: #929292;
  font-size: 18px;
  font-weight: 300;
}

.delete-button {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-color: transparent;
  background-image: url("./assets/Button.png");
  border: none;
}

.contact-container:hover .delete-button {
  background-image: url("./assets/Button:hover.png");
}

.contacts-list {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

.contact-container {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #000000;
  transition: background-color 0s ease;
}

.contact-container:last-child {
  border-bottom: none;
}

.contact-container:hover {
  background-color: #b9ff66;
  transform: scale(1.05);
  box-shadow: 0px 2px 0px #191a23;
  border: 1px solid #191a23;
  border-radius: 16px;
}

.img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.contact-data {
  display: flex;
  padding-left: 25px;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}

.filter-container {
  width: 100%;
  padding: 15px 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
  margin-top: 30px;
  border-radius: 15px;
}

input::placeholder {
  font-size: 18px;
  color: #898989;
  font-weight: 300;
}

.header {
  display: flex;
  align-items: center;
}

.add-button {
  margin-left: auto;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-color: transparent;
  background-image: url("./assets/add_button.png");
  border: none;
}
